#ruby, #c, #java {
  display: none;
  text-align: center;
}

.container {
  font-family: 'PT Sans', sans-serif;
}

.jumbotron, .form {
  background-color: #e3e5e8;
}

.bg {
  background-color: #A6A6A7;
}

p {
  font-size: 15px;
}

h1 {
  padding-bottom: 15px;
}

h5.form {
  font-weight: bold;
}

.form-group {
  padding: 15px;
}

.btn-light {
  padding: 15px;
  margin: 20px;
}

.output {
  margin: 20px;
}
