#ruby, #c, #java {
  display: none;
  text-align: center;
}

p {
  font-size: 15px;
}

h1 {
  padding-bottom: 15px;
}

.form-group {
  padding: 15px;
}

.btn-outline-dark {
  padding: 15px;
  margin: 20px;
}

.output {
  margin: 20px;
}
